// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
h1 {
    font-size: 2rem;
}

.v-btn {
    text-transform: none; 
    letter-spacing: 0;
}

.v-btn--active {
    background-color: transparent !important;
    color: #4CAF50 !important;
}